<!-- Hero Section -->
<section class="relative min-h-screen py-20 flex items-center bg-[#11193e] overflow-hidden">

    <!-- Right Side Background Image -->
    <div class="absolute top-10 right-0 h-full w-[60%]">
        <div class="w-full h-full bg-no-repeat bg-right bg-cover"
            style="background-image:url('images/knowledge-servics.png')"></div>
        <div class="absolute inset-0 bg-gradient-to-l from-transparent via-[#11193e]/60 to-[#11193e]"></div>
    </div>

    <!-- Content Container -->
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center w-full">

        <!-- Left Content -->
        <div class="max-w-xl z-10 space-y-2">

            <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight text-white font-heading">
                Clinical Intelligence. <span class="text-secondary">Submission Confidence. </span>
            </h1>

            <p class="text-base md:text-lg text-white group-hover:text-black leading-relaxed text-justify">
                Transform fragmented clinical, regulatory, and scientific data into a governed knowledge ecosystem
                powered by semantic intelligence and reasoning-driven AI validation.
            </p>

            <!-- CTA -->
            <div class="flex flex-col sm:flex-row gap-4 pt-4">
                <button routerLink="/kwalify"
                    class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase cursor-pointer"
                    style="background-color: var(--btn-primary-color); color: #fff;"
                    onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                    onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                    Request a Demo →
                </button>

                <button routerLink="/engagement-models"
                    class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase cursor-pointer"
                    style="background-color: var(--btn-primary-color); color: #fff;"
                    onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                    onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                    Explore Services →
                </button>
            </div>

        </div>

    </div>
</section>

<!--  About Us -->
<section class="py-8 bg-[#102c50]">
    <div class="max-w-7xl mx-auto px-6">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <!-- <span style="color: #fff">
                Turning Data
                into Connected,</span> Trusted Knowledge -->
        </h2>

        <div class="text-center mb-4 max-w-5xl mx-auto">

            <p class="text-base md:text-lg text-white text-justify mb-5">
                Care2Data enables life sciences organizations to move beyond fragmented data systems by engineering
                <strong class="text-secondary">interlinked knowledge-driven platforms</strong> that bring structure,
                context, and intelligence
                to clinical data
                workflows. <br> <br>
                By combining ontology frameworks, knowledge graphs, and explainable AI, we connect entities,
                relationships, and regulatory context—enabling <strong class="text-secondary">intelligent validation,
                    verification, and
                    discovery</strong>
                across the clinical data lifecycle.
            </p>

            <p class="text-base md:text-lg text-secondary text-center mb-4 font-semibold">
                Our solutions are designed to:
            </p>

            <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 text-white text-left text-base md:text-lg">

                <li class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 flex items-center justify-center rounded-lg flex-shrink-0 bg-primary text-white font-bold">
                        <img src="images/knowledge-services/white/strengtheneddataintegrity.png" alt=""
                            class="w-7 h-7 md:w-8 md:h-8 object-contain flex-shrink-0">
                    </div>
                    <p class="text-base md:text-lg">Strengthen data integrity, traceability, and conformance
                        teams</p>
                </li>

                <li class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 flex items-center justify-center rounded-lg flex-shrink-0 bg-primary text-white font-bold">
                        <img src="images/knowledge-services/white/xai.png" alt=""
                            class="w-7 h-7 md:w-8 md:h-8 object-contain flex-shrink-0">
                    </div>
                    <p class="text-base md:text-lg">Enable explainable, context-aware validation and
                        verification</p>
                </li>

                <li class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 flex items-center justify-center rounded-lg flex-shrink-0 bg-primary text-white font-bold">
                        <img src="images/knowledge-services/white/submissionready.png" alt=""
                            class="w-7 h-7 md:w-8 md:h-8 object-contain flex-shrink-0">
                    </div>
                    <p class="text-base md:text-lg">Reduce manual effort across validation workflows
                    </p>
                </li>

                <li class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 flex items-center justify-center rounded-lg flex-shrink-0 bg-primary text-white font-bold">
                        <img src="images/knowledge-services/white/storage.png" alt=""
                            class="w-7 h-7 md:w-8 md:h-8 object-contain flex-shrink-0">
                    </div>
                    <p class="text-base md:text-lg">Deliver submission-ready datasets and insights with
                        confidence
                    </p>
                </li>

            </ul>

            <p class="text-xl md:text-2xl font-semibold text-center text-white mt-5">
                This approach transforms clinical data from disconnected information into a <strong
                    class="text-secondary">governed, reliable
                    knowledge
                    asset</strong>—supporting faster decisions, reduced regulatory risk, and improved submission
                outcomes.
            </p>
        </div>

    </div>
</section>

<!-- Short Transition Section -->
<section class="py-8 bg-[#114167] text-white">
    <div class="max-w-5xl mx-auto px-6 space-y-6">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <span style="color: #fff">The Rise of Interlinked Data &</span> Clinical Intelligence
        </h2>

        <!-- Subheading / Highlight Quotes -->
        <p
            class="text-xl md:text-2xl text-yellow-400 font-semibold text-left mb-5 space-x-3 border-l-4 border-primary pl-4">
            <i> <span>Data without
                    structure
                    is noise. </span> <br> <span>Validation without reasoning is fragile.</span><br> <span> Compliance
                    without intelligence is a
                    risk.</span></i>
        </p>

        <!-- Paragraph 1 -->
        <div class="text-white leading-relaxed text-base md:text-lg">
            <p>
                The pharmaceutical and life sciences industry generates enormous volumes of clinical,
                regulatory, and scientific data across research programs, clinical trials, safety monitoring,
                and regulatory submissions. Yet much of this data remains fragmented across systems,
                documents, and domain expertise.
            </p>
        </div>

        <!-- Paragraph 2 -->
        <div class="text-white leading-relaxed text-base md:text-lg">
            <p>
                Traditional validation approaches rely heavily on static rule checks and isolated datasets,
                limiting the ability to understand relationships across studies, endpoints, and regulatory expectations.
            </p>
        </div>

    </div>
</section>

<!-- How does Care2Data -->
<section class="py-8 bg-[#11193e] text-white">
    <div class="max-w-5xl mx-auto px-6 space-y-6">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <span style="color: #fff"> How does Care2Data enable Interlinked Data </span> & Clinical Intelligence?
        </h2>
        <div class="text-white leading-relaxed text-base md:text-lg">
            <p>
                Care2Data enables this shift through <strong class="text-secondary">knowledge management frameworks,
                    ontology consulting for pharma,
                    and semantic data modeling services</strong> —designed to transform fragmented clinical data
                ecosystems into
                governed,
                intelligent knowledge systems.
            </p>
        </div>
        <div class="bg-white/5 border border-white/10 rounded-xl p-6">

            <h3 class="text-xl font-bold text-secondary text-center mb-5">
                By applying these capabilities, Care2Data:
            </h3>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Structures and harmonizes data across systems and domains</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Connects datasets through ontology-driven knowledge graphs</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Embeds regulatory context and semantic relationships</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Enables explainable, reasoning-driven validation and verification</p>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- A New Operating Model for Clinical Data -->
<section class="py-8 bg-[#102c50] text-white">
    <div class="max-w-5xl mx-auto px-6 space-y-6">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <span style="color: #fff"> A New Operating Model for </span> Clinical Data
        </h2>

        <div class="text-white leading-relaxed text-base md:text-lg">
            <p>
                Interlinked Data & Clinical Intelligence represents a new operating model. <br> <br>
                It connects datasets into knowledge graphs, embeds semantic reasoning, aligns regulatory context,
                and transforms validation from mechanical rule execution into defensible, explainable clinical
                intelligence.
            </p>
        </div>

        <div class="text-white leading-relaxed text-base md:text-lg">
            <p>
                This approach enables life sciences organizations to move beyond fragmented datasets toward <strong
                    class="text-secondary">connected,
                    context-aware, and submission-ready knowledge systems.</strong>
            </p>
        </div>

        <!-- CTA -->
        <div class="text-center pt-5">
            <a routerLink="/clinical-intelligence"
                class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase cursor-pointer"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Read More →
            </a>
        </div>
    </div>
</section>

<!-- How It Works -->
<section class="py-8 bg-[#114167]">
    <div class="max-w-7xl mx-auto px-6">
        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <span style="color: #fff">The Interlinked</span> Knowledge Architecture
        </h2>

        <div class="text-justify mb-4 max-w-5xl mx-auto">
            <!-- Description -->
            <p class="text-white mb-5 leading-relaxed text-base md:text-lg">
                Care2Data delivers Interlinked Data & Clinical Intelligence through a <strong
                    class="text-secondary">modular, service-led
                    knowledge
                    architecture</strong> designed to structure, operationalise, and govern complex clinical data
                ecosystems. <br> <br>
                Each layer represents a <strong class="text-secondary">standalone service offering</strong> or can be
                delivered as an
                <strong class="text-secondary">integrated program</strong>,
                depending on the needs of the organization.

            </p>
        </div>

        <!-- Carousel -->
        <div class="overflow-hidden pt-0 lg:pt-5">
            <div class="relative h-[450px] lg:h-[360px] flex items-center justify-center perspective-[900px]">

                <div *ngFor="let card of cards; let i = index" (click)="onCardClick(i)"
                    class="absolute flex flex-col rounded-2xl p-6 w-full md:w-[400px] lg:w-[465px] h-[435px] md:h-[385px] lg:h-[330px] border transition-all duration-700 ease-[cubic-bezier(0.34,1.2,0.64,1)] bg-white text-black"
                    [ngStyle]="getStyles(i)">

                    <!-- Icon -->
                    <div class="w-12 h-12 flex items-center justify-center rounded-full bg-primary shrink-0">
                        <img [src]="card.icon" alt="" class="w-7 h-7 md:w-8 md:h-8 object-contain flex-shrink-0">
                    </div>

                    <!-- Title -->
                    <h3 class="text-lg md:text-xl font-semibold text-primary mb-2">{{ card.title }}</h3>

                    <!-- Description / Content -->
                    <p class="text-sm leading-relaxed mb-2" *ngIf="card.subtitle">
                        {{ card.subtitle }}
                    </p>

                    <!-- Description / Content -->
                    <p class="text-sm leading-relaxed mb-2" *ngIf="card.description">
                        {{ card.description }}
                    </p>

                    <ul class="text-sm space-y-2" *ngIf="card.list?.length">
                        <li *ngFor="let item of card.list">• <span class="ml-2">{{ item }}</span></li>
                    </ul>

                    <!-- Description / Content -->
                    <div class="mt-auto md:pt-5 lg:pt-2">
                        <a [routerLink]="[card.link]" [fragment]="card.fragment" target="_blank"
                            rel="noopener noreferrer"
                            class="inline-block text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase"
                            style="background-color: var(--btn-primary-color); color: #fff;"
                            onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                            onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                            Read More →
                        </a>
                    </div>
                </div>

            </div>

            <!-- Dots -->
            <div class="flex justify-center gap-2 lg:mt-5">
                <div *ngFor="let d of cards; let i = index" (click)="goTo(i)"
                    class="w-[9px] h-[9px] rounded-full cursor-pointer transition-all duration-300"
                    [ngClass]="i === active ? 'bg-yellow-400 scale-105' : 'bg-white/30'">
                </div>
            </div>

        </div>

        <!-- CTA -->
        <!-- <div class="mt-5 text-center">
            <button
                class="inline-flex items-center cursor-pointer uppercase gap-2 px-6 py-3 text-sm font-semibold rounded-xl transition-all duration-300"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Explore Platform Capabilities →
            </button>
        </div> -->

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center text-yellow-400 leading-tight mt-5">
            <span style="color: #fff">Our Knowledge</span> Intelligence Process
        </h2>

        <svg viewBox="0 0 1200 150" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="mb-5"
            style="width: 100%; height: auto; display: block; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));">
            <style>
                .step-label {
                    font-size: 11px;
                    font-weight: 700;
                    text-anchor: middle;
                }

                .step-title {
                    font-size: 12px;
                    font-weight: 800;
                    text-anchor: middle;
                }
            </style>

            <g>
                <polygon points="15,55 215,55 245,85 215,115 15,115 45,85" fill="#11193e" />
                <image href="images/home/white/knowledgemodeling.png" x="110" y="68" width="36" height="36" />
                <text x="128" y="140" class="step-title" fill="#fff">Knowledge Modelling</text>
            </g>

            <g>
                <polygon points="251,55 451,55 481,85 451,115 251,115 281,85" fill="#2a347a" />
                <image href="images/home/white/knowledgerepository.png" x="348" y="68" width="36" height="36" />
                <text x="366" y="140" class="step-title" fill="#fff">Semantic Knowledge Repository</text>
            </g>

            <g>
                <polygon points="487,55 687,55 717,85 687,115 487,115 517,85" fill="#f1dba0" />
                <image href="images/home/black/knowledgediscovery.png" x="584" y="68" width="36" height="36" />
                <text x="602" y="140" class="step-title" fill="#fff">Discovery &amp; Reasoning Engine</text>
            </g>

            <g>
                <polygon points="723,55 923,55 953,85 923,115 723,115 753,85" fill="#b78c3e" />
                <image href="images/home/white/knowledgemanagement.png" x="820" y="68" width="36" height="36" />
                <text x="838" y="140" class="step-title" fill="#fff">Governance &amp; Lifecycle Management</text>
            </g>

            <g>
                <polygon points="959,55 1135,55 1165,85 1135,115 959,115 989,85" fill="#11193e" />
                <image href="images/home/white/trainingenablement.png" x="1039" y="68" width="36" height="36" />
                <text x="1057" y="140" class="step-title" fill="#fff">Training &amp; Capability Transfer</text>
            </g>
        </svg>

        <!-- CTA -->
        <div class="text-center pt-5">
            <a routerLink="/services-explore"
                class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase cursor-pointer"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Read More →
            </a>
        </div>
    </div>
</section>

<section class="py-8 bg-[#11193e] text-white">
    <div class="max-w-6xl mx-auto px-6">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            Proven. <span style="color: #fff">Applied.</span> Measurable.
        </h2>

        <!-- TOP CARD -->
        <div class="bg-white/5 border border-white/10 rounded-xl p-6 mb-5">
            <p class="text-base md:text-lg text-secondary text-center mb-4 font-semibold">
                Care2Data Knowledge Services combine:
            </p>

            <div class="grid sm:grid-cols-2 gap-3 text-white">
                <p>• <span class="pl-2"> Deep life sciences domain expertise</span></p>
                <p>• <span class="pl-2"> Standards-based methodologies</span></p>
                <p>• <span class="pl-2"> Semantic knowledge engineering practices</span></p>
                <p>• <span class="pl-2"> Platform enablement through KWALIFY</span></p>
            </div>

            <p class="mt-4 text-white">
                These solutions support clinical data validation, regulatory readiness,
                and enterprise knowledge management for life sciences organizations.
            </p>
        </div>

        <!-- Validation & Verification Section -->
        <div class="my-3">
            <h3 class="text-xl md:text-3xl font-bold text-center text-primary max-w-2xl mx-auto">
                Validation & Verification Across the Clinical Trial Lifecycle
            </h3>
        </div>

        <div class="text-white leading-relaxed text-base md:text-lg text-justify">
            <p>
                Care2Data offers <strong class="text-secondary">end-to-end validation and verification of clinical trial
                    data</strong> as a dedicated
                capability—enabled through the KWALIFY platform—ensuring data quality, integrity, consistency, and
                conformance across the entire clinical trial lifecycle. <br> <br>
                By combining semantic intelligence, reasoning-driven validation, and verification frameworks, Care2Data
                enables organizations to identify discrepancies, validate data contextually, and ensure submission-ready
                datasets with greater accuracy and confidence.

            </p>
        </div>

        <!-- End-to-End Section -->
        <div class="bg-white/5 border border-white/10 rounded-xl p-6 my-5">
            <h2
                class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-3 text-yellow-400 leading-tight">
                End-to-End <span style="color: #fff"> Knowledge Transformation</span>
            </h2>
            <p class="text-white my-2 text-center text-xl lg:text-2xl">Data → Interlinked Knowledge → Clinical
                Intelligence → Quantifiable Impact</p>
            <p class="text-base md:text-lg text-secondary text-center mb-4 font-semibold">
                Care2Data transforms fragmented clinical and scientific data into:
            </p>

            <div class="grid sm:grid-cols-2 gap-3 text-white">
                <p>• <span class="pl-2"> Structured semantic knowledge systems</span></p>
                <p>• <span class="pl-2"> Governed, reasoning-enabled intelligence</span></p>
                <p>• <span class="pl-2"> Submission-ready validation and verification frameworks</span></p>
                <p>• <span class="pl-2"> Sustainable competitive advantage in research and development</span></p>
            </div>

            <p class="mt-4 text-white">
                This integrated approach—powered by KWALIFY—establishes a new operating model for clinical data
                validation, verification, and knowledge-driven research systems.
            </p>
        </div>

        <!-- Measurable Outcomes Section -->
        <div class="bg-white/5 border border-white/10 rounded-xl p-8">

            <h3 class="text-2xl md:text-3xl font-bold text-primary text-center mb-5">
                Measurable Outcomes
            </h3>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Reduced time to insight</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Improved research productivity</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Stronger regulatory compliance posture</p>
                </div>

                <div class="flex items-start gap-4 pl-2">
                    <span class="text-secondary">✔</span>
                    <p>Data-driven decision systems across clinical programs</p>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Final CTA Section -->
<section class="py-8 bg-[#102c50]">
    <div class="max-w-7xl mx-auto px-6 text-left md:text-center">

        <!-- Heading -->
        <h2
            class="text-3xl sm:text-4xl md:text-5xl font-heading font-bold text-center mb-5 text-yellow-400 leading-tight">
            <span style="color: #fff">Ready to Lead with Interlinked Data &</span> Clinical Intelligence?
        </h2>

        <p class="text-white max-w-2xl mx-auto mb-5 text-base md:text-lg">
            Transform fragmented clinical data into structured, validated, reasoning-driven intelligence built for
            regulatory confidence and scientific clarity.
        </p>

        <!-- CTA Buttons -->
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-5 max-w-3xl mx-auto ">

            <button routerLink="/contact-us"
                class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Request a Demo →
            </button>

            <button routerLink="/contact-us"
                class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Contact Us →
            </button>

            <!-- Download Brochure -->
            <a href="/assets/brochure.pdf" download
                class="text-xs rounded-xl md:text-sm px-6 py-3 cursor-pointer font-semibold transition duration-700 uppercase text-center"
                style="background-color: var(--btn-primary-color); color: #fff;"
                onmouseover="this.style.backgroundColor='var(--btn-secondary-color)'; this.style.color='#000';"
                onmouseout="this.style.backgroundColor='var(--btn-primary-color)'; this.style.color='white';">
                Download Brochure →
            </a>

        </div>

    </div>
</section>