@use '@angular/material' as mat;


/* Angular Material Theme */
html {
  @include mat.theme((color: (primary: mat.$blue-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: Roboto,
      density: 0));
}

body {
  color-scheme: light;
  margin: 0;
  color: var(--mat-sys-on-surface);
}

/* Global Variables */
:root {
  --font-inter: 'DM Sans', sans-serif;
  --font-heading: 'Playfair Display', serif;

  --bg-primary: #417ae3;
  --bg-secondary: #f0ca33;

  --primary-color: #417ae3;
  --secondary-color: #f0ca33;

  --btn-primary-color: #3d7ffc;
  --btn-secondary-color: #ffffff;

  --container-7xl: 80rem;
  --background-color: #fafafa;

  --c1: #f5c842;
  --c2: #3d7ffc;
}

/* Layout */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: #ffffff;
}

/* Typography */
.font-heading {
  font-family: var(--font-heading);
}

/* Brand Colors */
.bg-primary {
  background-color: var(--bg-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--btn-primary-color);
}

.btn-secondary {
  background-color: var(--btn-secondary-color);
}

/* Container */
.max-w-7xl {
  max-width: var(--container-7xl);
}

/* Section Background */
.bg-react {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8));
  width: 100%;
}

/* Navigation */
.nav-link {
  @apply font-medium opacity-75 hover:text-[var(--primary-color)] transition duration-200;
}

.mobile-link {
  @apply block font-medium opacity-75 hover:text-[var(--primary-color)] transition duration-200;
}

/* Angular Material Fix */
.mat-mdc-form-field-subscript-wrapper {
  height: 0;
  margin: 0;
}

/* Material Icons */
a mat-icon {
  font-size: 20px !important;
  width: 22px !important;
  height: 22px !important;
}

button mat-icon {
  font-size: 20px !important;
  width: 22px !important;
  height: 22px !important;
}

.magzine button mat-icon {
  font-size: 20px !important;
  width: 22px !important;
  height: 16px !important;
}

.nav-menu button mat-icon {
  color: white !important;
}

/* Input text color */
.mat-mdc-input-element {
  color: white !important;
}

/* Label color */
.mat-mdc-form-field .mdc-floating-label {
  color: #9ca3af !important;
}

/* Outline border */
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border-color: #374151 !important;
}

/* Focus border */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #3b82f6 !important;
}

/* Select text */
.mat-mdc-select-value {
  color: white !important;
}

/* Placeholder */
::placeholder {
  color: #9ca3af !important;
}

@keyframes slideUpCenter {
  0% {
    transform: translate(-50%, 120%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.cookie-slide-up {
  position: fixed;
  left: 50%;
  bottom: 24px;
  animation: slideUpCenter 0.5s ease-out forwards;
}

.mat-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded) {
  border-radius: 12px !important;
  padding: 4px 0;
}

.mat-accordion .mat-expansion-panel.mat-expanded {
  border-radius: 12px !important;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  border-radius: 12px !important;
}

// .mat-expansion-panel-header {
//   border-radius: inherit !important;
//   margin: 4px;
//   height: 35px !important;
// }

// .mat-accordion .mat-expansion-panel {
//   margin-bottom: 8px !important;
// }

// .mat-accordion .mat-expansion-panel:last-child {
//   margin-bottom: 0 !important;
// }

/* Reduce mat-form-field height */
.mat-mdc-form-field {
  --mdc-outlined-text-field-container-height: 42px;
  /* default ~56px */
}

/* Reduce internal spacing */
.mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-height: 40px !important;
  font-size: 14px !important;
}

/* Reduce input padding */
.mat-mdc-input-element {
  padding: 0 !important;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
}

/* textarea fix */
textarea.mat-mdc-input-element {
  padding: 4px 0 !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero-float {
  animation: float 6s ease-in-out infinite;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  background-color: #ffffff;
  box-shadow: none !important;
  border: 1px solid #e5e7eb;
  border-radius: 12px !important;
}

.mat-expansion-panel mat-icon {
  font-size: 17px;
  padding: 3px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}